.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
}

.errornum {
  font-size: 1.2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 1rem;
}

.main {
  position: relative;
  z-index: 1;
}
.main::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background: url(~/public/img/background/d50aadff-ecfd-4807-a137-9553430288ba.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}